@import-normalize;

:root {
  --bg-color-light: linear-gradient(to top right, #6731b6, #8862cc, #b998ff);
  --white: #ffffff;
  --large: 32px;
  --smooth: 0.4s ease;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background: url(../../images/mobile/bones-background-mobi.png) repeat,
    var(--white); */
  background-color: rgb(203, 150, 112);
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
p,
ul,
li,
a {
  color: var(--white);
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  line-height: 1.25;
  font-style: normal;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
p {
  color: var(--white);
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  color: var(--white);
  background-color: #2bb0ac;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
}

.is-hidden {
  display: none;
}

b {
  font-weight: 600;
}

textarea {
  resize: none;
}

@media screen and (max-width: 768px) {
  .container {
    /* max-width: 320px; */
    padding: 0 17px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 112px;
    padding-right: 112px;
    padding-left: 90px;
    padding-right: 90px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  /* overflow: hidden; */
}
