@import-normalize;

:root {
  --bg-color-light: linear-gradient(to top right, #6731b6, #8862cc, #b998ff);
  --white: #ffffff;

  --tiny: 14px;
  --small: 16px;
  --semi-medium: 18px;
  --medium: 24px;
  --semi-big: 32px;
  --big: 40px;
  --large: 62px;

  --bolder: 700;

  --smooth: 0.4s ease;
  --bg-color-vio: linear-gradient(to top right, #6731b6, #8862cc, #b998ff);
  --bg-color-gre: linear-gradient(to top right, #1a7673, #259a96, #2bafab);
  --bg-color-yel: linear-gradient(to top right, #ac9507, #ceb303, #f2d003);

  --rgba-vio: rgba(187, 123, 217, 0.6);
  --rgba-gre: rgba(43, 174, 170, 0.6);
  --rgba-yel: rgba(252, 217, 4, 0.6);

  --rgba-vio-hover: rgba(155, 72, 194, 0.5);
  --rgba-gre-hover: rgba(27, 151, 147, 0.5);
  --rgba-yel-hover: rgba(198, 175, 36, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background: url(../../images/mobile/bones-background-mobi.png) repeat,
    var(--white); */
  background-color: rgb(255, 255, 255);
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
p,
ul,
li,
a {
  color: var(--white);
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  line-height: 1.25;
  font-style: normal;
  list-style: none;
}

p {
  color: var(--white);
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  color: var(--white);
  background-color: #2bb0ac;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
}

.is-hidden {
  display: none;
}

b {
  font-weight: 600;
}

textarea {
  resize: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  /* overflow: hidden; */
}
